<div id="admin" class="admin" ng-show="isAdmin" ng-cloak>
  <div class="container">
    <div class="row">
      <!-- the editor -->
      <div class="col-lg-8 col-lg-offset-2">
        <form name="articleForm" role="form" ng-submit="updateArticle(article.thread_id)">
          <div class="form-group title-group">
            <input type="text" ng-model="article.title" class="form-control" placeholder="文章标题" required>
          </div>
          <div class="editor-wrapper">
            <textarea editor ng-model="article.content"></textarea>
            <button class="submit btn" type="submit">写好了</button>
            <a class="remove btn btn-danger" ng-show="article.thread_id" ng-click="removeArticle(article.thread_id)" ng-cloak>删除这篇文章</a>
          </div>
        </form>
      </div>
      <!-- add-on directives -->
      <div class="col-lg-8 col-lg-offset-2">
        <div id="add-ons" class="add-ons">
          <div meta-background ng-model="article.meta.background"></div>
        </div>
      </div>
    </div>
 </div>
</div>