<div id="articles" class="archive articles clearfix">
  <div class="article" ng-repeat="article in articles" ng-hide="article.title == ''" ng-style="{'background-image': 'url(' + article.meta.background + ')'}" ng-class="{'has-thumbnail': article.meta.background}">
    <h3 class="title container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <a ui-sref="single({uri: article.thread_id })" ng-bind="article.title"></a>
        </div>
      </div>
    </h3>
  </div>
</div>

<div class="pager-module" ng-show="totalItems > itemsPerPage" ng-cloak>
  <div class="container">
    <pager previous-text="前几篇" next-text="后几篇" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()"></pager>
  </div>
</div>

<div class="loading container" ng-hide="articles.length >= 0">loading...</div>
