<div id="articles" class="archive articles clearfix">
  <div class="article" ng-repeat="article in articles" ng-hide="article.title == ''">
    <h3 class="title container">
      <a ui-sref="single({uri: article.thread_id })" ng-bind="article.title"></a>
    </h3>
  </div>
</div>

<div class="pager-module" ng-show="articles.length > 0" ng-cloak>
  <pager total-items="totalItems" ng-model="currentPage"></pager>
</div>

<div class="loading container" ng-hide="articles.length >= 0">loading...</div>
