#header.banner(data-src="/images/banner.jpg")
    .logo.clearfix
        h1.pull-left
            a(href="/") #{site.name}
        - if (user)
            a.options.clearfix.user.pull-right(href="/admin",data-toggle="dropdown" href="#")
                img(src="http://www.gravatar.com/avatar/#{user.avatarHash}",alt="#{name}").avatar-mini
            ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
                li
                    a(href="/signout")
                        i.fa.fa-power-off
                        |登出
        - else
            a.options.clearfix.pull-right(href="/signin")
                span.fa-stack.loading
                    i.fa.fa-circle-o.fa-stack-2x
                    i.fa.fa-gear.fa-inverse.fa-stack-1x