- if (user)
    - var name = user.nickname ? user.nickname : user.email
    .user
        ul.nav.nav-pills.clearfix
            - if (user.type == 'admin' || user.type == 'creator')
                li.post.pull-right
                    a(href="/article/new")
                        i.fa.fa-plus
                        | 写新文章
            li.nav.pull-right.dropdown
                a(data-toggle="dropdown",href="#").clearfix.dropdown-toggle
                    img(src="http://www.gravatar.com/avatar/#{user.avatarHash}",alt="#{name}").avatar-mini
                ul.dropdown-menu(role="menu",aria-labelledby="dLabel")
                    li: a(href="/signout") 登出
- else
    .sign-nav.clearfix
        ul.clearfix.nav.nav-pills
            li#signin(class="#{currentPage == '/signin' ? 'current' : ''}")
                a(href="/signin") 登录
            li#signip(class="#{currentPage == '/signup' ? 'current' : ''}")
                a(href="/signup") 注册