@import url('lib/bootstrap.min.css');
@import url('typo.css');
@font-face {
  font-family: 'Vibur';
  font-style: normal;
  font-weight: 400;
  src: local('Vibur'), url(http://themes.googleusercontent.com/static/fonts/vibur/v4/r1wjHVoJektUOshkwbHY9qCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
.btn {
  border-radius: 0;
}
#header h1.logo {
  font-size: 44px;
  margin: 0px;
  padding: 10px 0px 0px 25px;
  position: relative;
  font-family: 'Vibur', cursive;
  text-shadow: 0px 0px 3px #444;
  line-height: 1.0;
}
#header h1.logo span {
  padding-right: 10px;
}
#header h1.logo a {
  color: #f5f5f5;
  opacity: 0.8;
}
#header h1.logo a:hover {
  text-decoration: none;
  color: #fff;
  opacity: 1;
}
#header .user {
  position: relative;
}
#header .user a {
  display: block;
  line-height: 40px;
  padding: 0px 10px;
  overflow: hidden;
  border-radius: 0;
}
#header .user a i {
  padding-right: 8px;
}
#header .avatar-mini {
  width: 40px;
  height: 40px;
}
#header .name {
  float: left;
  line-height: 40px;
}
#header .dropdown.open a.dropdown-toggle {
  background-color: #f5f5f5 !important;
  color: #34495e;
}
#header .dropdown.open a.dropdown-toggle:hover {
  background-color: #f5f5f5;
}
#header .dropdown-menu {
  background-color: #f5f5f5;
  font-size: 12px;
  border-radius: 0;
  box-shadow: none;
  margin-top: 0px;
  border-top: 0;
  margin-right: 0px;
  min-width: 100px !important;
  width: 101%;
  margin-right: -1px;
  padding-bottom: 1px;
}
#header .dropdown-menu a {
  display: block;
  padding: 10px 12px;
  color: #34495e;
}
#header .dropdown-menu a:hover {
  background-color: #f5f5f5;
  color: #444;
}
.banner {
  height: 250px;
}
.sidebar {
  border-left: 1px solid #ddd;
  padding-left: 20px;
}
.article {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.article .entry h4 {
  font-size: 14px;
}
.article .entry h4 .from {
  color: #999;
  font-size: 12px;
  padding-left: 4px;
}
.article .entry h4 a:hover {
  text-decoration: none;
}
.article .entry i.vote {
  padding-right: 10px;
  font-size: 20px;
  line-height: 1;
}
.article .entry .meta {
  padding-left: 20px;
  font-size: 12px;
  color: #999;
  margin-top: -4px;
  padding-bottom: 5px;
}
.article .entry .meta a {
  color: #999;
}
.article .entry .meta i.fa {
  padding-left: 10px;
  padding-right: 0px;
}
.article .entry .meta i.number {
  font-style: normal;
  padding-left: 3px;
}
.article-title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  box-shadow: inset 0px 0px 10px #ddd;
}
.article-title h3.title {
  font-size: 20px;
  font-weight: bold;
}
.article-content {
  font-size: 14px;
}
.article-content .entry {
  padding-top: 20px;
}
.article-content .sidebar {
  padding-top: 20px;
}
.article-content p {
  font-size: 14px;
  line-height: 1.8;
}
.sidebar .avatar-middle {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#footer {
  padding: 12px 0;
  color: #999;
  font-size: 12px;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5;
  margin-top: -1px;
}
#footer a {
  color: #999;
}
.bgr {
  position: absolute;
  z-index: -99;
  background: url(/images/bgr.png);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.sign,
.pub-news {
  background-color: #f5f5f5;
  padding: 15px 0;
}
.sign h2,
.pub-news h2 {
  font-size: 18px;
  margin-top: 0px;
  padding: 20px 0px 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}
.sign h2 span,
.pub-news h2 span {
  font-size: 14px;
  color: #999;
  padding-left: 8px;
}
.sign form,
.pub-news form {
  padding-bottom: 25px;
}
.sign form input,
.pub-news form input,
.sign form textarea,
.pub-news form textarea {
  border-radius: 0;
  padding: 10px 5px;
}
.sign form input:focus,
.pub-news form input:focus,
.sign form textarea:focus,
.pub-news form textarea:focus {
  border-color: #34495e !important;
  box-shadow: none !important;
}
.sign form textarea,
.pub-news form textarea {
  height: 150px;
  padding: 5px;
  overflow: auto;
}
.sign form .form-error input,
.pub-news form .form-error input {
  border-color: red;
}
.sign .form-group,
.pub-news .form-group {
  position: relative;
}
.sign .helper,
.pub-news .helper {
  position: absolute;
  right: 5px;
  top: 32px;
  z-index: 9;
  display: block;
  padding: 5px 10px;
  border-radius: 0;
}
.sign .help-inline,
.pub-news .help-inline {
  color: #c0392b;
  font-size: 12px;
  padding-left: 10px;
}
.sign span.subdesc,
.pub-news span.subdesc {
  color: #999;
  font-size: 12px;
}
.error {
  background-color: #f5f5f5;
  padding: 40px 0;
}
.title {
  font-size: 20px;
  margin-bottom: 15px;
}
.title a {
  color: #444;
}
.title a:hover {
  text-decoration: none;
  color: #000;
}
