@import url('./lib/bootstrap.min.css');
// @import url('./lib/font-awesome.min.css');
@import url('./typo.css');
@font-face {
  font-family: 'Vibur';
  font-style: normal;
  font-weight: 400;
  src: local('Vibur'), url(http://themes.googleusercontent.com/static/fonts/vibur/v4/r1wjHVoJektUOshkwbHY9qCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}

@key: #C0392B;
@sub: #2C3E50;
@nav: #34495E;
@bg: #f5f5f5;
@link: #2980B9;
@hover: #3498DB;

.btn {
    border-radius: 0;
}

#header {
    h1.logo {
        font-size: 44px;
        margin: 0px;
        padding: 10px 0px 0px 25px;
        position: relative;
        font-family: 'Vibur', cursive;
        text-shadow: 0px 0px 3px #444;
        line-height: 1.0;
        span {
            padding-right: 10px;
        }
        a {
            color: #f5f5f5;
            opacity: 0.8;
            &:hover {
                text-decoration: none;
                color: #fff;
                opacity: 1;
            }
        }
    }
    .user {
        position: relative;
        a {
            display: block;
            line-height: 40px;
            padding: 0px 10px;
            overflow: hidden;
            border-radius: 0;
            i {
                padding-right: 8px;
            }
        }
    }
    .avatar-mini {
        width: 40px;
        height: 40px;
    }
    .name {
        float: left;
        line-height: 40px;
    }
    .dropdown {
        &.open {
            a.dropdown-toggle {
                background-color: @bg !important;
                color: @nav;
                &:hover {
                    background-color: @bg;
                }
            }
        }
    }
    .dropdown-menu {
        background-color: @bg;
        font-size: 12px;
        border-radius: 0;
        box-shadow: none;
        margin-top: 0px;
        border-top: 0;
        margin-right: 0px;
        min-width: 100px !important;
        width: 101%;
        margin-right: -1px;
        padding-bottom: 1px;
        a {
            display: block;
            padding: 10px 12px;
            color: @nav;
            &:hover {
                background-color: @bg;
                color: #444;
            }
        }
    }
}

.banner {
    height: 250px;
}

.sidebar {
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

.article {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    .entry {
        h4 {
            font-size: 14px;
            .from {
                color : #999;
                font-size: 12px;
                padding-left: 4px;
            }
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
        i.vote {
            padding-right: 10px;
            font-size: 20px;
            line-height: 1;
        }
        .meta {
            padding-left: 20px;
            font-size: 12px;
            color: #999;
            margin-top: -4px;
            padding-bottom: 5px;
            a {
                color: #999;
            }
            i.fa {
                padding-left: 10px;
                padding-right: 0px;
            }
            i.number {
                font-style: normal;
                padding-left: 3px;
            }
        }
    }
}

.article-title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    box-shadow: inset 0px 0px 10px #ddd;
    h3.title {
        font-size: 20px;
        font-weight: bold;
    }
}

.article-content {
    font-size: 14px;
    .entry {
        padding-top: 20px;
    }
    .sidebar {
        padding-top: 20px;
    }
    p {
        font-size: 14px;
        line-height: 1.8;
    }
}

.sidebar {
    .avatar-middle {
        width: 70px;
        height: 70px;
        border-radius: 70px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

#footer {
    padding: 12px 0;
    color: #999;
    font-size: 12px;
    border-top: 1px solid #ddd;
    background-color: #f5f5f5;
    margin-top: -1px;
    a {
        color : #999;
    }
}

.bgr {
    position: absolute;
    z-index: -99;
    background: url(/images/bgr.png);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


// sign
.sign, .pub-news {
    background-color: @bg;
    padding: 15px 0;
    h2 {
        font-size: 18px;
        margin-top: 0px;
        padding: 20px 0px 10px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
        span {
            font-size: 14px;
            color: #999;
            padding-left: 8px;
        }
    }
    form {
        padding-bottom: 25px;
        input, textarea {
            border-radius: 0;
            padding: 10px 5px;
            &:focus {
                border-color: @nav !important;
                box-shadow: none !important;
            }
        }
        textarea {
            height: 150px;
            padding: 5px;
            overflow: auto;
        }
        .form-error {
            input {
                border-color: red;
            }
        }
    }
    .form-group {
        position: relative;
    }
    .helper {
        position: absolute;
        right: 5px;
        top: 32px;
        z-index: 9;
        display: block;
        padding: 5px 10px;
        border-radius: 0;
    }
    .help-inline {
        color: @key;
        font-size: 12px;
        padding-left: 10px;
    }
    span.subdesc {
        color: #999;
        font-size: 12px;
    }
}

.error {
    background-color: @bg;
    padding: 40px 0;
}

.title {
    font-size: 20px;
    margin-bottom: 15px;
    a {
        color: #444;
        &:hover {
            text-decoration: none;
            color: #000;
        }
    }
}