extends ../layout

block content
    #new.pub-news.content(ng-controller="mua.ctrlers.article")
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    form(method="POST",name="submitForm",ng-submit="submit()")
                        .form-group
                            label(for="title") 标题 
                                span.subdesc / title
                            input(type="text",placeholder="",name="title",id="title",ng-model="article.title",ng-minlength="1",required).form-control
                            span.helper.label.label-danger(ng-show="submitForm.title.$invalid") 标题应不少于1个字
                        .form-group
                            label(for="content") 内容 
                                span.subdesc / content
                            textarea(placeholder="",name="content",id="content",ng-model="article.content").form-control
                        .form-group
                            button(type="submit",ng-disabled="submitForm.$invalid").btn.btn-success 提交 / Submit
                            span.help-inline(ng-show="msg") {{msg}}