extends ../layout

block css
    link(rel='stylesheet', href='/js/pen/src/pen.css')

block content
    #new.pub-news.content(ng-controller="mua.ctrlers.article")
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    form(method="POST",name="submitForm",ng-submit="submit()").post-article
                        .form-group
                            input(type="text",placeholder="Just writing something...",name="title",id="title",ng-model="article.title",ng-minlength="1",required).form-control.post-title
                            span.helper.label.label-danger(ng-show="submitForm.title.$invalid") 标题应不少于1个字
                        .form-group
                            #editor.editor(name="content",contenteditable,ng-model="article.content") 
                                h4 以子标题作为内容的分隔符
                                p It's unsettling and maddening, because you're now going to have a lot of people get released to the street prematurely,says Middlesex County District attorney Gerry Leone, one of many hoping the state supreme court will curb the releases. That's a pretty bad way of looking at thi
                                blockquote 在这提出一项引用
                                p 再写一些日常的片段
                        .form-group
                            button(type="submit",ng-disabled="submitForm.$invalid").btn.btn-success 写好了 / Submit
                            span.help-inline(ng-show="msg") {{msg}}

block js
    //- editor
    script(src="/js/pen/src/pen.js")
    script(src="/js/pen/src/markdown.js")
    script.
        var editor = new Pen({
                editor: document.getElementById('editor'),
                stay: false
            });