.admin {
  input {
    border-radius: 0px;
    &:focus, &:hover {
      outline: 0;
      box-shadow: none;
    }
  }
  .title-group {
    margin-top: 0px;
    input {
      box-shadow: none;
      padding: 25px 0px 25px;
      font-size: 22px;
      border-top: 0px;
      border-left: 0px;
      border-right: 0px;
    }
  }
}