.admin {
  input {
    border-radius: 0px;
    &:focus, &:hover {
      outline: 0;
      box-shadow: none;
    }
  }
  .title-group {
    margin-top: 0px;
    margin-bottom: 0px;
    input {
      box-shadow: none;
      padding: 28px 6px 28px;
      font-size: 20px;
      border: 0;
    }
  }
  .editor {
    font-size: 16px;
    &:focus {
      outline: 0px;
      box-shadow: none;
    }
  }
  .top-options {
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 999;
    .submit {
      display: block;
      width: 200px;
      font-size: 20px;
      border-radius: 3px;
      border: 2px solid #fff;
      background-color: transparent;
      color: #fff;
      font-weight: bold;
      &:hover {
        background-color: #fff;
        color: #444;
      }
    }
    @media @mobile {
      padding: 10px;
      bottom: 0px;
      left: 0px;
      top: auto;
      .submit {
        background-color: #fff;
        border-color: #444;
        color: #444;
        width: 100%;
      }
    }
  }
}

.editor-preview {
  background-color: #fff;
}
