* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.nav, 
.pagination, 
.carousel, 
.panel-title a {
  cursor: pointer;
}

.loading {
  font-size: 50px;
  color: #ddd;
  padding: 50px 0px;
  text-align: center;
}

.mediumInsert-placeholder {
  display: none;
}