.snap-content {
  background-color: #fff;
}

.snap-drawer {
  background-color: #444;
  color: #fff;
  box-shadow: inset 0px -2px 10px #000;
}

.snap-drawer-wrapper {
  z-index: 98;
}

.snap-content-wrapper {
  z-index: 99;
}
