/**
*
* Media Querys
*
**/

@desktop: ~"screen and (min-width:992px)";
@tablet: ~"screen and (min-width:768px)";
@mobile: ~"screen and (max-width:400px)";

/**
*
* Default styles
*
**/

@background: 'http://airpub.b0.upaiyun.com/2014/08/12/upload_bannerPicture.jpg';